<!DOCTYPE html>
<html>
<head>
    <title>To-Do Page</title>
</head>
<body>

    <h2>To-Do Form</h2>

    <form action="/submittodoitem" method="POST">
       
        <label>Item ID:</label><br>
        <input type="text" name="itemId"><br><br>   
        
        <label>Item UUID:</label><br>
        <input type="text" name="itemUuid"><br><br>

        <label>Item Name:</label><br>
        <input type="text" name="itemName"><br><br>

        <label>Item Description:</label><br>
        <textarea name="itemDescription"></textarea><br><br>

        <button type="submit">Submit</button>

    </form>

</body>
</html>